env
*~
*.pyc
*.egg-info
*.sqlite
database.cfg
.sync_transactions

client/state.pickle
server/pyramid.pid

venv/

# Convenience shortcuts
restart.sh

# Logging
log
pyramid.log
init-scripts/monassis-sync-server.log
server/test_server.log
server/pyramid.log
client/*.err
client/*.out
